* {
  margin: 0;
  padding: 0;
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", Meiryo,
    メイリオ, Osaka, "MS PGothic", sans-serif;
}

@font-face {
  font-family: "Futura";
  src: url("HappyHack_sozai/fonts/Futura-Boo.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Futura";
  src: url("HappyHack_sozai/fonts/Futura-MedObl.ttf") format("truetype");
  font-style: italic;
}

@font-face {
  font-family: "Futura";
  src: url("HappyHack_sozai/fonts/Futura-Bol.ttf") format("truetype");
  font-weight: bold;
}

.visual-container {
  overflow: hidden;
}

/* ヘッダー部分 */
h1 img {
  width: 900px;
  margin: auto;
}

.subtitle {
  color: #fff;
  font-size: 45px;
  text-align: center;
  margin-top: 30px;
  font-family: "Futura";
  font-style: italic;
}

header {
  position: relative;
  height: 100vh;
  background-position: center center;
  background-size: cover;
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
}

nav {
  float: right;
  padding: 0 50px;
}

nav li {
  list-style-type: none;
  float: left;
}

nav a {
  text-decoration: none;
  display: block;
  color: #fff;
  font-size: 27px;
  padding: 30px 15px 0px;
  font-family: "Futura";
}

nav a:hover {
  color: #3d5cdb;
  transition: 0.5s;
}

/* Introduction */
.Introduction {
  opacity: 0;
  transform: translate(0, -20px);
  transition: all 1700ms;
}

.Introduction.scrollin {
  opacity: 1;
  transform: translate(0, 0);
}

h2 {
  color: #3d5cdb;
  font-size: 60px;
  font-family: "Futura";
  font-weight: bold;
  text-align: center;
  padding: 40px 40px 20px;
}

.registerText {
  font-size: 16px;
  color: #333333;
  line-height: 32px;
  width: 400px;
  padding: 0px 50px 20px;
}

.intro {
  width: 500px;
  height: 333px;
  float: left;
}

.intro-container {
  float: left;
  margin: 20px;
  width: 500px;
  height: 324px;
}

.register {
  color: #fff;
  font-size: 20px;
  background-color: #3d5cdb;
  border-radius: 12px;
  font-weight: 700;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  padding: 10px 40px;
  margin: 30px 165px;
}

.register:hover {
  box-shadow: #d1d1d1 0px 2px 15px 2px;
}

.intro1 {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 0 40px;
}

.intro2 a {
  background-color: #ffbf00;
}

.intro2 {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 0 40px;
}

/* コース紹介 */
.Courses {
  opacity: 0;
  transform: translate(0, -20px);
  transition: all 1700ms;
  position: relative;
}

.Courses.scrollin {
  opacity: 1;
  transform: translate(0, 0);
}

#particles-js {
  width: 100vw;
  height: 110vh;
  background-color: #d6e6f9;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.courses-container {
  width: 1170px;
  height: 740px;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
  padding: 0px 0px 50px;
}

.course {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 8px;
  padding: 30px;
  margin: 20px 10px 10px;
}

.icon-html {
  width: 100px;
  height: 140px;
  display: block;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}

.courseImage {
  width: 150px;
  height: 148px;
  margin: auto auto;
  justify-content: center;
  align-items: center;
}

h3 {
  margin: 10px;
  padding-top: 20px;
  font-size: 15px;
  text-align: center;
  font-weight: 700;
  color: #183c61;
}

.button-html {
  text-decoration: none;
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  background-color: #f16529;
  border-radius: 12px;
  text-align: center;
  margin: 15px 5px;
  padding: 10px 30px;
}

.button:hover {
  box-shadow: #cecece 0px 2px 15px 2px;
}

.button-css {
  text-decoration: none;
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  border-radius: 12px;
  text-align: center;
  margin: 15px 5px;
  padding: 10px 30px;
  background-color: #29a9df;
}

.icon-css {
  width: 100px;
  height: 154px;
  display: block;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}

.button-unity {
  text-decoration: none;
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  border-radius: 12px;
  text-align: center;
  margin: 15px 5px;
  padding: 10px 30px;
  background-color: #333333;
}

.icon-unity {
  width: 100px;
  height: 100px;
  display: block;
  margin: 20px 15%;
  max-width: 100%;
  max-height: 100%;
}

.button-ruby {
  text-decoration: none;
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  border-radius: 12px;
  text-align: center;
  margin: 15px 5px;
  padding: 10px 30px;
  background-color: #ff5252;
}

.icon-ruby {
  width: 100px;
  height: 100px;
  display: block;
  margin: 20px 15%;
  max-width: 100%;
  max-height: 100%;
}

.button-js {
  text-decoration: none;
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  border-radius: 12px;
  text-align: center;
  margin: 15px 5px;
  padding: 10px 30px;
  background-color: #fed700;
}

.icon-js {
  width: 100px;
  height: 140px;
  display: block;
  margin: auto;
}

.button-swift {
  text-decoration: none;
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  border-radius: 12px;
  text-align: center;
  margin: 15px 5px;
  padding: 10px 30px;
  background-color: #fe7536;
}

.icon-swift {
  width: 100px;
  height: 89px;
  display: block;
  margin: 20px 15%;
  max-width: 100%;
  max-height: 100%;
}

.button-go {
  text-decoration: none;
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  border-radius: 12px;
  text-align: center;
  margin: 15px 5px;
  padding: 10px 30px;
  background-color: #73cedd;
}

.icon-go {
  width: 100px;
  height: 100px;
  display: block;
  margin: 20px 15%;
  max-width: 100%;
  max-height: 100%;
}

/* Imageスライダー */
.Images {
  margin-bottom: 50px;
  opacity: 0;
  transform: translate(0, -20px);
  transition: all 1700ms;
}

.Images.scrollin {
  opacity: 1;
  transform: translate(0, 0);
}

.slider {
  margin: 0px 168px;
  padding: 30px 0px;
}

.sliderImage {
  height: 224px;
}

.slick-dots li {
  display: inline-block;
  margin: 0 5px;
}

.slick-dots {
  text-align: center;
  margin: 0 0 30px 0;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}

/* アクセス */
.Access {
  padding-bottom: 40px;
  opacity: 0;
  transform: translate(0, -20px);
  transition: all 1700ms;
}

.Access.scrollin {
  opacity: 1;
  transform: translate(0, 0);
}

.map {
  text-align: center;
}

footer {
  color: #3d5cdb;
  line-height: 60px;
  font-size: 16px;
  font-family: "Futura";
  font-weight: normal;
  text-align: center;
}

@media screen and (max-width: 470px) {
  h1 img {
    width: 70vw;
    margin: auto;
  }

  .subtitle {
    color: #fff;
    font-size: 100%;
    text-align: center;
    margin-top: 20px;
    font-family: "Futura";
    font-style: italic;
  }

  nav {
    display: none;
  }

  h2 {
    font-size: 200%;
  }

  .Introduction {
    width: 100%;
  }

  .intro {
    width: 90%;
    height: auto;
    margin-bottom: 20px;
  }

  .intro1 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .intro2 {
    width: 100%;
    height: auto;
    flex-direction: column-reverse;
    margin-top: 30px;
  }
  .registerText {
    width: 90%;
    font-size: 80%;
    margin: 0 auto;
    padding: 0 0;
  }

  .register {
    font-size: 15px;
    line-height: 40px;
    padding: 0 55px;
    margin: 0 auto;
    margin-top: 30px;
  }

  .intro-container {
    margin: 20px;
    width: 90%;
    height: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }

  .Courses {
    width: 100%;
  }

  .courses-container {
    width: 100%;
    height: auto;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0px 0px 50px;
  }

  .courseImage {
    width: 100%;
  }

  #particles-js {
    height: 100%;
  }

  .Images {
    width: 100%;
  }

  .slider {
    margin: 0px 10%;
    padding: 30px 0px;
  }

  .sliderImage {
    height: 200px;
  }

  .Access {
    width: 100%;
  }
}
